*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 10px;
}
body{
    background-color: aliceblue;
    font-family: monospace;
    text-align: center;
    margin: 0;
}
div{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 100px auto;
    animation-name: kortele;
    animation-duration: .9s;
    animation-iteration-count: infinite;
}
@keyframes kortele{
    0%{
        margin: 100px auto;
    }
    50%{
        margin: 10px auto;
    }
    99%{
        margin: 10px auto;
    }
    100%{
        margin: 100px auto;
    }
}