*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: white;
}
button{
    touch-action: manipulation;
}
textarea:focus, input:focus{
    outline: none;
}
#startScreen{
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.75); 
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#startScreen p{
    font-size: 20px;
    margin-bottom: 20px;
}
#startScreen div{
    width: auto;
    height: 30px;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    padding: 5px;
    padding-top: 3px;
    border: 2px solid #000033;
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
}
#startScreen div:active{
    transform: scale(0.95);
}
#startScreen button{
    width: 100px;
    height: 30px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    background-color: #000033;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    pointer-events: none;
    opacity: 0.5;
}
#startScreen button:active{
    transform: scale(0.9);
}
#screen{
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255); 
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 100; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    cursor: wait;
}
#screenSize{
    width: 100%; 
    height: 100%; 
    background-color: white; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 95; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    cursor: not-allowed;
}
@keyframes load{
    0%{
        width: 0;
        margin-left: 0;
    }
    50%{
        width: 100%;
        margin-left: 0;
    }
    80%{
        width: 0;
        margin-left: 100%;
    }
    100%{
        width: 0;
        margin-left: 100%;
    }
}
#menuBar{
    width: 100%;
    height: 50px;
    background-color: #000033;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 5px;
    color: white;
}
#menuBar div{
    width: 50px;
    height: 100%;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#menuBar div i{
    font-size: 25px;
}
#logoMenu{
    height: 100%;
    margin-left: 0;
}
#addressP{
    position: absolute;
    top: 14px;
    font-size: 17px;
    right: 10px;
    cursor: pointer;
}
#reklamosTekstas{
    width: 100%; 
    height: auto; 
    background-color: #000033; 
    position: fixed; 
    top: 50px; 
    left: 0; 
    right: 0; 
    z-index: 10; 
    padding: 5px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-top: 1px solid white; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 0 15px #000033;
}
#ekranas{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 5;
}
#options{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 15; 
    top: 0; 
    left: 100%; 
    bottom: 0; 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding-top: 50px;
}
#collect{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 15; 
    top: 0; 
    left: 100%; 
    bottom: 0; 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding-top: 50px;
}
#keypad{
    width: 280px; 
    height: 410px; 
    border-radius: 25px; 
    border: none; 
    background-color: white; 
    color: white; 
    font-size: 25px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#keypad button{
    width: 85px;
    height: 85px;
    border-radius: 25px;
    border: 2px solid #000033;
    font-size: 30px;
    background-color: #000033;
    cursor: pointer;
    transition: 0.15s;
    color: white;
}
#keypad button:active{
    background-color: white;
}
#istrinimas:active{
    opacity: 0.5;
}
#keypad input{
    width: 0;
    height: 0;
    display: none;
}
#taskeliai{
    width: 80%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#taskeliai div{
    width: 15px;
    height: 15px;
    border: 2px solid #000033;
    background-color: white;
    border-radius: 100%;
    transition: 0.15s;
}
#completeCollect{
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: 15; 
    top: 0; 
    left: 100%; 
    bottom: 0; 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    padding-top: 50px;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    69.99%{
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
#backSelect:active{
    transform: scale(0.8);
}
#collectBtn:active{
    transform: scale(0.9);
}
#backCollect:active{
    transform: scale(0.8);
}
#sendBtn:active{
    transform: scale(0.9);
}
@media only screen and (max-width: 750px){
    #screenSize{
        display: none;
    }
}